@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap');

* {
	font-family: 'Zilla Slab', serif;
	color: white;
}
body {
	padding: 0;
	margin: 0;
	background-color: #3b3b3b;
}
.cardref {
	width: 100%;
	margin: 0 auto;
}
.title {
	font-size: 32px;
	width: 100%;
	text-align: center;
}
.banner {
	background-color: #330000;
}
.container {
	margin: 0;
	align-items: center;
	display: flex;
	flex-direction: column;
}
.container2 {
	margin: 1.5%;
	align-items: center;
	display: flex;
	flex-direction: column;
}
.container2 * {
	width: 75%;	
	font-size: 24px;
	text-align: center;
}

.buttons {
	margin: 0 2.5%;
	display: flex;
}
button {
	margin: 0 1px;
	color: #3b3b3b;
	background-color: #E9C668;
	border: none;
	width: 65px;
	height: 55px;
}