@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap');

* {
	font-family: 'Zilla Slab', serif;
}
body {
	padding: 0;
	margin: 0;
	background-color: #3b3b3b;
}
#resettimer {
	color: white;
	font-size: 48px;
}